<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Live Poll</title>
        
        <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/boo
        tstrap.min.css"> -->
    </head>
    <body>
        <div class="container">
            <header class="jumbotron">
                <!-- <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/129733680/original/d01bcc912a7bed2ddaff952c9db7333547cf98b4/create-5-customized-instagram-highlight-cover-photos-icons.jpg" style="height: 200px; width: 120px;"> -->
                <div class="container">
                    <h2>LIVE POLLING</h2>
                </div>
            </header>
            <section id = "main">
                <div id = "buttons">
                    <p>
                        <a href = "/polls/new" class="btn btn-primary btn-lg">Create a poll</a>
                        <a href="/polls" class="btn btn-primary btn-lg">Join a poll</a>
                    </p>
                    
                </div>
            </section>
        </div>
        
        <!-- <script type="text/javascript" src="style.js"></script> -->
    </body>
</html>