<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/new.css">
        <title>Live Poll</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
    </head>
    <body>
        <!-- <div class="container" id="boxed">
            <h2 class="ui header">
                <i class="plug icon"></i>
                <div class="content">
                    CREATE YOUR POLL
                </div>
                <div class="sub header">Type your question</div>
            </h2>
    
            <div class="enter">
                <header class="jumbotron">
                    <div class="container">
                        <i class="fas fa-poll-h"></i>
                        <p></p>
                    </div>
                </header>
    
                <form class="ui form" action="/polls" method="POST">
                    <div class="fields">
                      <div class="eight wide field">
                        <label>Heading</label>
                        <input type="text" name="heading" placeholder="Heading">
                      </div>
                    </div>
                    <div class="fields">
                        <div class="twelve wide field">
                            <label>Shoot you Question</label>
                            <input type="text" name="question" placeholder="Question">
                        
                        </div>
                    </div>
                    <div class="fields"> -->
                            <!-- <div class="four wide field">
                            <label>How many options?</label>
                            <input class="optn" name="n" type="number" placeholder="1-10?">
                          </div>
                          for(var i=0 ; i<n ; i++){
    
                          } -->


        <div id="enter">
            <h1>Create your Poll</h1>
            <input id="question" name="question" placeholder="Question" type="text">
            <ul style="list-style-type:none;">
                <li>
                    <div class="six wide field">
                        <p>
                           <input class="options" name="options" placeholder="Option" type="text">  <span class="del">X</span></p>                
                        
                      </div>
                </li>
                <li>
                    <div class="six wide field">
                        <p><input class="options" name="options" placeholder="Option" type="text"> <span class="del">X</span></p>
                        
                      </div>
                </li>
                <li>
                    <div class="six wide field">
                        <p><input class="options" name="options" placeholder="Option" type="text"> <span class="del">X</span></p>
                        
                      </div>
                </li>
                <li>
                    <div class="six wide field">
                        <p>
                        <input class="options" name="options" placeholder="Option" type="text"> <span class="del">X</span></p> 
                      </div>
                </li>
          </ul>
          <button type="button" class="btn btn-light"><span class="add">Add another+</span></button> 
        </div>
                          
                          
                          
                          
                          
                    <!-- </div>
                  </div>
                  <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div> -->
        




            <!-- <section>
                <div id = "optns">
                    <form action="/polls" method="POST">
                        <p>
                            <input id="title" name="heading" placeholder="Title" type="text">
                        </p>
                        <p>
                            <input id="question" name="question" placeholder="Question" type="text">
                        </p>
                        <p>
                            <input class="options" name="options" placeholder="Option" type="text">
                            <input class="options" name="options" placeholder="Option" type="text">
                            <input class="options" name="options" placeholder="Option" type="text">
                            <input class="options" name="options" placeholder="Option" type="text">
                        </p>
                        
                         <button id="more"><i class="fas fa-plus-circle"></i></button> -->
                        <!-- <p>
                                <input class="btn btn-sm btn-primary" type="submit" value="CREATE"/><br><br><hr>   
                        </p>
                    </form>
                </div>
            </section> --> 
            <!-- <div id = "buttons">
                <button><a href="result.html">View result</a></button>
            </div> -->
    <!-- <script type="text/javascript" src="javascripts/newpoll.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/new.js"></script>
    </body>
</html>